{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}

    <h2 class="text-center text-danger">Cette page n'existe pas.</h2>
    <h3 class="text-center text-light">Retournez à l'accueil.</h3>
    <li class="d-flex justify-content-center">
        <a class="register mt-4" href="{{ path('home') }}">Accueil</a>
    </li>

{% endblock %}